html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;  /* Apply the Montserrat font globally */
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;  /* Use viewport height to ensure full-screen height */
    overflow: hidden;  /* Hide any overflow */
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures video covers the entire area */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Center the video */
}


.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,0.5), rgba(0,0,255,0.5), rgba(255,81,0,0.5));
    opacity: 0.8;
    z-index: 1;
    animation: smoke 10s linear infinite;
    background-size: 200% 200%;
}

@keyframes smoke {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    color: white;
    text-align: center;
}

.logo {
    position: relative;
}

.logo img {
    max-height: 100pt;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    visibility: hidden; /* Hide the image by default */
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 1s ease; /* Transition opacity over 1 second */
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 300%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.8), transparent);
    z-index: 2;
    transform: skewX(-20deg);
    animation: shine 2s forwards;
}

@keyframes shine {
    0% {
        left: -1000%;
    }
    100% {
        left: -80%;
    }
}

.caption h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Responsive Logo */
@media (max-width: 768px) {
    .logo img {
        max-height: 80pt;  /* Smaller max height for smaller screens */
    }
    .caption h2 {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    .logo img {
        max-height: 60pt;  /* Even smaller max height for very small screens */
    }
    .caption h2 {
        font-size: 24px;
    }
}
